.navbar {
  margin: 0;
  justify-content: first baseline;
  background: #282727;
  color: white;
}

h1  {
  text-transform: capitalize;
}

// .navbar .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar .navbar-brand img {
//   width: 40px;
// }
